{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<section class="register">
    <div class="container">
        <div class="form_wrapper d-flex justify-content-center align-items-center">
            <form class="form-register" method="post">
                {% csrf_token %}
              <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
                {% for field in user_form %}
              <label for="{{ field.id_for_label }}" class="sr-only mt-2">{{ field.label }}:</label>
              <input type="{% if forloop.first %}text{% else %}password{% endif %}" id="{{ field.id_for_label }}" class="form-control mt-2" placeholder="{{ field.field.widget.attrs.placeholder }}" name="{{ field.html_name }}" required="">
                {% if field.errors %}
                    <span class="text-danger mt-3 d-block">{{ field.label }}:</span>

                        <ul>
                            {% for error_list in field.errors %}
                                <li class="text-danger mt-3">{{ error_list }}</li>
                            {% endfor %}
                        </ul>

                {% endif %}
                {% endfor %}
              <button class="btn btn-lg btn-warning btn-block mt-3" type="submit" >Регистрация</button>

            </form>
        </div>
    </div>
</section>
{% endblock %}